body {
	font-family: 'Open Sans', sans-serif;
}
.cmc-headr{
	background-image: url("../img/header.jpg");
	height: 600px;
	background-size: cover;
	margin-top: -6%;
	z-index: 0;
}
.dtl-hdr-cmc{
	margin-top: 20%;
	color: white;
}
.dtl-hdr-cmc-2{
	margin-top: 22%;
	color: white;
}
.nav-cmc{
	background-color: transparent !important;
	border:none !important;
}
.divider-cmc{
	height: 2px;
	background-color: white;
}
.btn-cmc{
	margin-top: 2%;
}
.a1-cmc{
	background-image: url("../img/a1.png");
	height: 120px;
	background-repeat: no-repeat;
	background-size: contain;
	    margin-bottom: 10%;
	    margin-left: 35%;
}
.about-cmc{
	margin-bottom: 30px;
}
.ma1-cmc{
	height: 200px;
	margin-top: 6%;
}
.a2-cmc{
	background-image: url("../img/a2.png");
	height: 95px;
	background-repeat: no-repeat;
	background-size: contain;
    margin-bottom: 14%;
    margin-left: 23%;
}
.a3-cmc{
	background-image: url("../img/a3.png");
	height: 110px;
	background-repeat: no-repeat;
	background-size: contain;
	    margin-bottom: 10%;
	    background-position-x: 50%;
}
.abt-btn-cmc{
	    margin-top: 15%;
    margin-left: 8%;
}
.circle-cmc{
	height: 100px;
	width: 100px;
	border-radius:50px;
	background-color: orange;
	    margin-left: 37%;
}
.circle-cmc h1{
        margin-left: 34%;
    margin-top: 43%;
}
/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/




.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

.carousel-control.left,.carousel-control.right  {background:none;width:25px;}

.broun-block {
	background-color: #37474f;
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
height: 300px;
    width: 85%;
    margin-left: 7.5%;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}

.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: transparent !important;
}
.nav li a{
	color: white !important;
}
.nav{
	float: right !important;
}
.logo-cmc{
	background-image: url("../img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
    width: 120px;
    height: 30px;
}
.nav-2-cmc{
		background-color: blue !important;
	border:none !important;
	border-radius: 0px !important;
}
.form-control{
	border-radius: 0px !important;  *
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.mf-1{
	height: 200px;
	width: 200px;
	background-color: orange;
	margin-bottom: 5%;
}
.res img {
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.form-control-msg{
	height: 100px !important;
}

@media (max-width: @screen-xs-min) {
  .modal-xs { width: @modal-sm; }
}

.card{
    
    background-color: #e3e3e3;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}
.card p{
    margin: 20px;
    margin-top: 20px;
    align-content: center;
    margin-bottom:30px;
    
}
.card img{
    align-content: center;
    max-height: 150px;
    max-height: 150px;
    border: solid 4px;
    border-color: aqua;
    margin-bottom: 20px;
    
}
.card p.heading{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 300px;
    
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1,1.1); }
.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 3em;
	}	
.fa-twitter{
	background: #4099FF;
	color: #FFFFFF;
  padding: 0.05em 0.07em;
	}
.fa-facebook{
	background: #3B5998;
	color: #FFFFFF;
  padding: 0.05em 0.3em;
	}

.fa-youtube{
	background: #bb0000;
	color: #FFFFFF;
  padding: 0.25em 0.25em;
  
	}
.fy-1-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/Anil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fy-2-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/Rajendra.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fy-3-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/OP_SIR1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fy-4-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/AA_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fy-5-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/Narendra_Kok.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fy-6-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/dg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fy-7-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/KN_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fy-8-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/KD_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fy-9-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/GD_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fy-9-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/PA_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.crsl-1-cmc{
    background-image: url("http://hinddesh.com/wp-content/uploads/2014/05/indian-student-abroad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.crsl-2-cmc{
    background-image: url("http://www.med.nyu.edu/school/sites/default/files/school2/banner-sa-student-resources.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
