/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: black;
}

.list-group li:nth-child(1){
  border: 0 none;
}
.list-group li:nth-child(2){
  border: 0 none;
}
.list-group li:nth-child(3){
  border: 0 none;
}
.list-group li:nth-child(4){
  border: 0 none;
}
.list-group li:nth-child(5){
  border: 0 none;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

.edema {
  width: 100%; /* Full width */
  background: linear-gradient(to right, #ffffff , #f1b3b0);
}
.edema-percent {
  text-align: right; /* Right-align text */
  line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
  width: 65%;
}


chart {
  width: 100%;
}

.chart li {
  border-radius: 4px 4px 0 0; /* Remember vendor prefixes */
  box-shadow: 0 1px 0 0 rgba(255,255,255,.6) inset; /* Remember vendor prefixes */
  display: block;
  height: 125px;
  padding: 25px 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}

/*.chart .axis {
  display: none;
  top: -25px;
  width: 11%;
 }


.chart .label {
  background: #eaeaea;
  text-align: center;
  margin: -.6em 0 65px 0;
}*/

.chart .percent {
  font-size: 18px;
  opacity: .4;
  width: 100%;
}

.chart .skill {
  width: 100%;
}


.chart .teal {
background: #4ecdc4;
text-align: center;
background-image: linear-gradient(#ffd2d1, #f1b3b0 70%);
border: 1px solid #ffd2d1;
}

.chart .salmon {
background: #4ecdc4;
background-image: linear-gradient(#ffd2d1, #f1b3b0 70%);
border: 1px solid #ffd2d1;
}
.chart .peach {
background: #4ecdc4;
background-image: linear-gradient(#ffd2d1, #f1b3b0 70%);
border: 1px solid #ffd2d1;
}
.chart .lime {
background: #4ecdc4;
background-image: linear-gradient(#ffd2d1, #f1b3b0 70%);
border: 1px solid #ffd2d1;
}
.chart .grape {
background: #4ecdc4;
background-image: linear-gradient(#ffd2d1, #f1b3b0 70%);
border: 1px solid #ffd2d1;
}

@media (min-width: 700px) {
  .chart {
    height: 425px;
    margin: 0 auto -32px;
  }
  .chart li {
    display: inline-block;
    height: 425px;
    margin: 0 1.8% 0 0;
    width: 14%;
  }
  .chart .axis {
    display: inline-block;
  }
  .chart .percent {
    font-size: 18px;
    position: absolute;
  }
  .chart .skill {
    bottom: 20px;
    font-size: 10px;
    position: absolute;
  }
}

@media (min-width: 1000px) {
  .chart .percent {
    font-size: 18px;
  }
}




/*.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
}*/


.parent {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /*width: 597px;
    height: 405px;*/
    background-image: url(img/main_bg.png);
    background-position: center;
    background-size: cover;
}
.image2 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    display: block;
    margin: auto;
}
