/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: black;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-color: #333;*/
}

/*body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}*/

/*.cover-container {
  max-width: 42em;
}*/


/*
 * Header
 */
/*.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}*/


/*
 * Cover
 */
/*.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}*/


/*
 * Footer
 */
/*.mastfoot {
  color: rgba(255, 255, 255, .5);
}
*/



.bg{
background-position: center;
background-image: url("img/bg.png");
background-repeat: no-repeat;
background-size: cover;
}
.nav{
  color: black;
}

.main-sec{
  padding-top: 15%;
  padding-left: 5%
}

.form-control{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    line-height: 0.78;
    letter-spacing: normal;
    text-align: left;
    height: 62px !important;
    padding-left: 30px;
    /*padding-right: 188px;*/
    color: #7d8b9b;
    border-radius: 100px;
    border: solid 1px #e1e1e2;
}

.btn{
    background-color: #FFBCB9;
    -webkit-box-shadow: 0 6px 15px 0 rgba(29, 25, 122, 0.2);
    box-shadow: 0 6px 15px 0 rgba(29, 25, 122, 0.2);
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 14px 36px;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    border: medium none;
        border-radius: 100px;
    color : white;
}

.btn:hover{
  color: #ffffff !important;
  background-color: blue;
}
.form-control:active{
  color: #000000 !important;
  border : 1px solid black;
}
.form-control:focus {
    outline:none !important;
}