body {
    font-family: 'Roboto', sans-serif;
}
.cmc-headr{
	background-image: url("../img/hdr1.jpg");
	height: 45em;
	background-size: cover;
	margin-top: -6%;
	z-index: 0;*/
}
.dtl-hdr-cmc{
	margin-top: 20%;
	color: white;
    margin-left: 5%;
}
.dtl-hdr-cmc-2{
	margin-top: 22%;
	color: white;
}
.nav-cmc{
	background-color: transparent !important;
	border:none !important;
}
.divider-cmc{
	height: 2px;
	background-color: white;
}
.btn-cmc{
	margin-top: 0%;
    margin-left: 5%;
}
.a1-cmc{
	background-image: url("../img/1.png");
	height: 46px;
	background-repeat: no-repeat;
	background-size: contain;
	    margin-bottom: 6%;
	background-position-x: 50%;
}
.about-cmc{
	margin-bottom: 5%;
}
.ma1-cmc{
	margin-top: 6%;
}
.a2-cmc{
	background-image: url("../img/2.png");
    height: 48px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 4%;
    background-position-x: 50%;
}
.a3-cmc{
	background-image: url("../img/3.png");
	height: 33px;
	background-repeat: no-repeat;
	background-size: contain;
	    margin-bottom: 7%;
	    background-position-x: 50%;
}
.abt-btn-cmc{
	    margin-top: 15%;
    margin-left: 8%;
}
.circle-cmc{
	height: 100px;
	width: 100px;
	border-radius:50px;
	background-color: orange;
	    margin-left: 37%;
}
.circle-cmc h1{
        margin-left: 34%;
    margin-top: 43%;
    color: white;
}
/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/




.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

.carousel-control.left,.carousel-control.right  {background:none;width:25px;}

.broun-block {
	background-color: #053c36;
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
height: 300px;
    width: 85%;
    margin-left: 7.5%;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}

.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
    color: white;
}
.person-text h3{
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}
.person-text p{
    font-weight: 100;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: transparent !important;
}
.nav li a{
	color: white !important;
}
.nav{
	float: right !important;
}
.logo-cmc{
	background-image: url("../img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
    width: 120px;
    height: 30px;
}
.nav-2-cmc{
		background-color: blue !important;
	border:none !important;
	border-radius: 0px !important;
}
.form-control{
	border-radius: 0px !important;  *
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.mf-1{
	height: 200px;
	width: 200px;
	margin-bottom: 5%;
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/Anil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.mf-2{
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/Rajendra.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.mf-3{
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/KN_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.pf-1{
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/OP_SIR1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.pf-2{
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/AA_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.pf-3{
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/KD_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cf-1{
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/Narendra_Kok.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cf-2{
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/dg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cf-3{
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/GD_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cf-4{
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/PA_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.res img {
    margin-bottom:20px;
}

.form-control-msg{
	height: 100px !important;
}

@media (max-width: @screen-xs-min) {
  .modal-xs { width: @modal-sm; }
}


.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 3em;
	}	
.fa-twitter{
	background: #4099FF;
	color: #FFFFFF;
  padding: 0.05em 0.07em;
	}
.fa-facebook{
	background: #3B5998;
	color: #FFFFFF;
  padding: 0.05em 0.3em;
	}

.fa-youtube{
	background: #bb0000;
	color: #FFFFFF;
  padding: 0.25em 0.25em;
  
	}
.fy-1-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/Anil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 225px;
}
.fy-2-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/Rajendra.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 225px;
}
.fy-3-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/OP_SIR1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 225px;
}
.fy-4-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/AA_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 225px;
}
.fy-5-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/Narendra_Kok.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 225px;
}
.fy-6-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/dg.jpg");
    background-size: cover;
    height: 225px;
    background-repeat: no-repeat;
}
.fy-7-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/KN_SIR.jpg");
    background-size: cover;
    height: 225px;
    background-repeat: no-repeat;
}
.fy-8-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/KD_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 225px;
}
.fy-9-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/GD_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 225px;
}
.fy-9-cmc{
    background-image: url("http://www.matrixedu.in/assets/uploads/staff_images/PA_SIR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 225px;
}
.crsl-1-cmc{
    background-image: url("../img/abtmatrx.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.crsl-2-cmc{
    background-image: url("../img/abtmatrx.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.ftr-logo-cmc{
    height:200px;
    background-image: url("../img/logo-c.png");
    background-repeat: no-repeat;
    background-size: contain;
        height: 30px;
    max-width: 38%;
    margin-left: 5%;
}
.ftr-scl-1-cmc{
    height:30px;
    background-image: url("../img/fb.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.ftr-scl-2-cmc{
    height:30px;
    background-image: url("../img/twitter.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.ftr-scl-3-cmc{
    height:30px;
    background-image: url("../img/yt.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.ftr-news-cmc a:hover{
    color: white;
    text-decoration: none;
}
.btn-default-cmc {
    background-color: transparent !important;
    color: white !important;
    border:1px solid white !important;
}
.dtl-hdr-cmc-2 a{
    color: white !important;
}
.ststc-cmc{
    padding-bottom: 2%;
    padding-top: 2%;
}
li a {
    font-weight: 300;
}
.dtl-hdr-cmc h2 {
    font-weight: 400;
    letter-spacing: 0.2rem;
}
.dtl-hdr-cmc h5 {
    font-weight: 300;
    letter-spacing: .07rem;
}
.ststc-cmc h3 {
    font-weight: 300;
}
blockquote p {
    font-weight: 300;
    min-height: 250px;
}
.nav-othr-cmc{
    background-color: #07564e !important;
        border:none !important;
    border-radius: 0px !important;
    transition: 200ms ease all;
}
.fclty-bx1-cmc{
    height: 200px;
    background-color:  #10bfac;
    padding-top: 8%;
        border-radius: 10px;
}
.fclty-bx2-cmc{
    height: 200px;
    background-color: #0b7f73;
    padding-top: 8%;
        border-radius: 10px;
}
.fclty-bx3-cmc{
    height: 200px;
    background-color: #07564e;
    padding-top: 8%;
    border-radius: 10px;
}
.btn-ins-cmc:hover{
    background-color: white !important;
    color: black !important;
        transition: 200ms ease all;
}
.col-md-4 {
    width: 250px !important;
}
.imp-bx-1-cmc{
    height: 30px;
    background-image: url("../info/cr1.png");
    background-size: contain;
    background-repeat: no-repeat;
        background-position-x: 50%;
    
}
.imp-bx-2-cmc{
    height: 30px;
    background-image: url("../info/cr2.png");
    background-size: contain;
    background-repeat: no-repeat;
        background-position-x: 50%;
}
.imp-bx-3-cmc{
    height: 30px;
    background-image: url("../info/cr3.png");
    background-size: contain;
    background-repeat: no-repeat;
        background-position-x: 50%;
}
.imp-bx-4-cmc{
    height: 30px;
    background-image: url("../info/cr4.png");
    background-size: contain;
    background-repeat: no-repeat;
        background-position-x: 50%;
}
.imp-bx-5-cmc{
    height: 30px;
    background-image: url("../info/cr5.png");
    background-size: contain;
    background-repeat: no-repeat;
        background-position-x: 50%;
}
.imp-bx-6-cmc{
    height: 30px;
    background-image: url("../info/cr6.png");
    background-size: contain;
    background-repeat: no-repeat;
        background-position-x: 50%;
}
.abt-mtrx-cmc{
        background-image: url("../img/abtmatrx.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 427px;
}
.sbt-mtrx-head-cmc{
    color: white;
    font-weight: 400;
    margin-top: 12%;
}

.btn-cntct-cmc{
    background-color: transparent !important;
    color: black !important;
    border: 1px solid grey !important;
}
.crse-btn-cmc:hover {
    background-color: #07564e !important;
    color: white !important;
}
.imp-bx-1-cmc:active {
    border-bottom: 2px solid green;
}
.imp-bx-2-cmc:active {
    border-bottom: 2px solid green;
}
.imp-bx-3-cmc:active {
    border-bottom: 2px solid green;
}
.imp-bx-4-cmc:active {
    border-bottom: 2px solid green;
}
.imp-bx-5-cmc:active {
    border-bottom: 2px solid green;
}
.imp-bx-6-cmc:active {
    border-bottom: 2px solid green;
}
@media (max-width:992px)
{.scrn-pdng-cmc{padding-top: 45%}
.abt-mtrx-cmc{height: 490px;}
.margin-cmc-full-page-cmc{margin-top: 20%;}
}
.margin-cmc-whole-page-cmc{
    margin-bottom: 5%;padding-top: 5%;
}

@media (max-width:992px)
{.mobile-view-txt-cmc{    padding-top: 25%;
    color: black;
    font-size: 10px !important;
    margin-top: 140%;}
.mobile-view-prev-txt-cmc{font-size:10px;}
.marg-crse-txt-cmc{margin-top: 70% !important;}
.cmc-headr-rspon{height: 48em !important;}
}

.mobile-view-prev-txt-cmc{
    padding-top:25%; color:  black; font-size: 16px;
}