.get-started {
  position: relative;
  color: white;

  .modal .modal-dialog .modal-content {
    border: 1px solid black;
    .important {
      color: tomato;
    }

    input {
      /*float: right;*/
    }
  }

  h2, h3 {
    text-align: center;
    font-weight: 200;
  }
  
  h1 {
    text-align: center;
    background: transparent;
    position: relative;
    top: 82px;
    z-index: 1;
    font-size: 26px;
  }

  h2 {
    margin: 14px auto;
    font-size: 20px;
  }

  h3 {
    margin: 4px;
    font-size: 16px;
  }

  .box {
    height: 420px;
    width: 100%;
    margin: 0 auto;
    /*border: 1px solid white;*/
  }

  .icon {
    margin: 0 auto;
    height: 95px;
    width: 95px;
    border-radius: 100%;
    margin-bottom: 42px;

    background: url(../img/icon34.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
  }

  #enterprise {
    background: url(../img/icon35.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #btn-left {
    margin-top: 30px !important;
    height: 40px;
    width: 130px;
    font-size: 14px;
  }

  .left {
    padding-top: 100px;
    height: 450px;
    background: #003356;
    background: url(../img/pattern.png), -webkit-linear-gradient(#003356, #040503); /* For Safari 5.1 to 6.0 */
    background: url(../img/pattern.png), -o-linear-gradient(#003356, #040503); /* For Opera 11.1 to 12.0 */
    background: url(../img/pattern.png), -moz-linear-gradient(#003356, #040503); /* For Firefox 3.6 to 15 */
    background: url(../img/pattern.png), linear-gradient(#003356, #040503); /* Standard syntax */
    background-size: cover;
  }  
  .right {
    padding-top: 100px;
    height: 450px;
    background: $theme-color;
    background: url(../img/pattern.png), -webkit-linear-gradient(#0162b0, #383a6d); /* For Safari 5.1 to 6.0 */
    background: url(../img/pattern.png), -o-linear-gradient(#0162b0, #383a6d); /* For Opera 11.1 to 12.0 */
    background: url(../img/pattern.png), -moz-linear-gradient(#0162b0, #383a6d); /* For Firefox 3.6 to 15 */
    background: url(../img/pattern.png), linear-gradient(#0162b0, #383a6d); /* Standard syntax */
    background-size: cover;
  }
  
}