.resources {
  height: 550px;
  background: $theme-color;
  background: -webkit-linear-gradient(#0162b0, #383a6d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0162b0, #383a6d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0162b0, #383a6d); /* For Firefox 3.6 to 15 */
  background: url(../img/pattern.png), linear-gradient(#0162b0, #383a6d); /* Standard syntax */
  background-size: cover;

  .container {
    width: 80%;
  }

  h1 {
    margin-top: 36px;
    margin-bottom: 44px;
    color: white;
  }

  .card {
    position: relative;
    top: 50px;
    height: 280px;
    width: 187px;
    background: white;
    box-shadow: 4px 4px 20px rgba(255, 255 , 255, 0.4);
    h3 {
      margin-top: 9px;
      text-align: center;
      font-size: 18px;
    }
    .cover {
      background: indigo; 
      height: 98px;
    }
    .content {
      margin: 0 auto;
      position: relative;
      height: 125px;
      padding: initial 25px;
      .date {
        height: 20px;
        width: 65px;
        color: grey;
        position: absolute;
        bottom: 0;
        margin-left: 10px;
        font-size: 12px;
      }
      p {
          width: auto;
          text-align: center;
          color: grey;
          font-size: 12px;
          margin-left: auto;
          margin-right: auto;
        }
    }
  }

  .left {
   .tweet {
    width: 90%;
    height: 82px;
    margin: 0 auto;
    background: purple;
   }
  }

  .middle {
    .card {
      position: relative;
      top: 0;
      height: 380px;
      width: 257px;
      margin: 0 auto;
      .cover {
        height: 134px;
      }
      .content {
        height: 183px;
        width: auto;

        h4 {
          text-align: center;
          color: grey;
          margin-bottom: 32px;
          margin-top: 20px;
        }

        p {
        }

        .date {
          font-size: 12px;
        }
      }
    }
  }

  .right {
    h3 {
      margin-bottom: 20px;
    }
    p {
      position: relative;
      top: 20px;
    }

    .date {
      position: absolute;
      bottom: 7px !important;
    }
  }

}