/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

$theme-color: #013669;
$theme-font: 'Open Sans', sans-serif;
$theme-bgcolor: #EBEBEC;

html, body {
  border: 0;
  padding: 0;
  margin: 0;
}


/* Styles for Hamburger menu */
.navbar-default .navbar-toggle {
 border: none; 
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #F9FAFA;
}

body {
  /*background: url("https://raw.githubusercontent.com/Kirbaba/sharefiles/master/polygon.png");*/
  overflow-x: hidden; 
  overflow-y: hidden;
  background: $theme-bgcolor;
  background-size: cover;
  position: relative;
  font-family: $theme-font;
  float: left;
  width: 100%;
  color: black;
}

.effict {
  background: tomato;
}

.btn-enza {
  display: block;
  background: #179AD7;
  height: 30px;
  font-size: 14px;
  font-weight: 200;
  margin: 2px auto !important;
  border-radius: 2px;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
}

@import 'navbar';
@import 'banner';
@import 'intro';
@import 'try';
@import 'overview';
@import 'in-use';
@import 'in-action';
@import 'get-started';
@import 'features';
@import 'resources';
@import 'contact-us';
@import 'footer';

/*Typing Animation*/
.typed-cursor{
  display: none;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.loader-div {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1001;
  background: white;
  .contents {
    display: inline-block;
    margin: 0 auto;
    position: fixed;
    top: 43vh;
    left: 33.34vw;
    img {
      height: 7.5vw;
      width: 33.315vw;
    }
  }
}


@media only screen and (max-width: 1200px) {
  .in-action {
    .main {
      /*background: red;*/
      .profile {
        /*margin-bottom: 240px;*/
        .dp {
          height: 80px;
          width: 80px;
        }
        .details p{
          font-size: 15px ;
        }
      }
    }
  }

  .in-action .sections .tabs .tab .icon {
    height: 30px;
    width: 32px;
  }
  .in-action .sections .tabs .tab h4 {
    font-size: 16px;
  }

  .in-action .sections .tabs .tab {
    height: 37px;
  }

  .in-action .sections .tabs {
    margin-bottom: 30px;
  }

  .intro {
    height: 1230px;
  }
  .intro .contents {
    h2 {
      margin-bottom: 0px !important;
    }
    .chart {
      top: -36px;
      margin-bottom: -10px; 
      margin-top: 0px;
    }
  }
}

/* for width greater than 992px */
@media only screen and (min-width: 992px) {
  .in-action-mobile {
    display: none;
  }
}

/* for width less than 992px */
@media only screen and (max-width: 992px) {

  .in-action-desktop {
    display: none;
  }

  .in-action .main {
    height: auto !important;
  }
  .in-action-mobile {

    .profile {
      display: none;
    }
    .main {
      padding-top: 10px !important;
      .col-md-4 {
        border-right: 0;
        height: auto !important;
      }
    }

    .in-action .sections .tabs .tab  {
      margin-right: 0 !important;
    }

    .sections {
      margin-top: 9px;
      .dropdown .dropdown-menu {
        width: 94%;
        position: relative;
        left: 10px;
      }
      .dropdown {
        height: auto;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        button {
          display: block;
          margin: 0 auto;
          border: 0;
          width: 94%;
          border-radius: 5px 5px 0px 0px;
        }
        .tab {
          width: 100% !important;
          text-align: center;
        }
      }
      .chat-box {
        /*margin-right: 0 !important;*/
        border-radius: 0px 0px 7px 7px;
        margin: 0 auto;
        .input-box {
          width: 90% !important;
          input {
            width: 90%;
          }
        }
      }
    }

    .options {
      width: 100% !important;
      margin-bottom: 10px !important; 
      padding-top: 5px;
      .option {
        display: inline-block;
        width: 42%;
        height: auto !important;
        font-size: 10px !important;
        padding: 4px !important; 
        margin-bottom: 0 !important;
      }
    }
    .rate {
      display: none;
    }

  }

  .intro {
    height: 1130px;
  }

  .intro .contents {
    .chart {
      top: -82px !important;
      margin-bottom: -120px;
    }
  }

  .try {
    h4 {
      margin: 0 auto;
      width: 80%;
    }
  }

  .resources {
    h1 {
      margin-bottom: 0px;
    }
    height: auto;
    .card {
      margin-left: auto;
      margin-right: auto;
    }
    .left {
      margin-bottom: 100px;
    }
    .middle {
      margin-bottom: 0px;
      .date {
        width: 300px;
      }
    }
    .right {
      margin-bottom: 100px;
    }
  }

  footer {
    .sm {
      display: block;
      float: none;
      margin: 0 auto;
      padding-left: 26px;
    } 
    .terms {
      position: static;
      text-align: center;
      width: 100%;
    }
   .copyright {
      width: 100%;
      text-align: center;
      display: block;
    }
  }
}

@media only screen and (max-width: 730px) {

  h1, h2 {
    font-size: 2em;
  }

  .intro h2 {
    width: 90%;
  }

  .intro .contents .divbox p {
    width: 40%;
  }

  .in-action-mobile .chat-box .input-box input {
    width: 88% !important;
  }

}

@media only screen and (max-width: 630px) {
  .in-action-mobile .chat-box .input-box input {
    width: 86% !important;
  }
}

@media only screen and (max-width: 560px) {
  .in-action-mobile .chat-box .input-box input {
    width: 83% !important;
  }
}

@media only screen and (max-width: 530px) {

  .in-action-mobile .chat-box .input-box input {
    width: 80% !important;
  }

  .intro {
    height: 1130px;
  }

  .intro .contents .divbox p {
    width: 70%;
  }

  .banner .content {
    width: 80% !important;
  }
  .banner .content h2 {
    width: 65% !important;
    font-size: 2em !important;
    margin-left: auto !important;
    margin-right: auto !important; 
  }
  .banner .content p {
    font-size: 1em !important;
    width: 60% !important;
  }

  .banner .content .hr {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .overview .selector p {
    width: 80%;
  }

  .features .card {
    margin-bottom: 40px;
  }

  .features .col-md-3:nth-child(1) .card {
    margin-bottom: -25px;
  }
}

@media only screen and (max-width: 430px) {

  .in-action-mobile .chat-box .input-box input {
    width: 75% !important;
  }
}

@media only screen and (max-width: 360px) {

  .in-action-mobile .chat-box .input-box input {
    width: 72% !important;
  }

  .intro {
    height: 1210px;
  }


  .resources {
    .card {
      width: 80% !important;
    }

    .left {
      .tweet {
        width: 100% !important;
      }
    }

    .middle .card{
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: 330px) {

  .in-action-mobile .chat-box .input-box input {
    width: 68% !important;
  }
}

@media only screen and (max-width: 300px) {
  .intro {
    height: 1210px;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
