@media only screen and (max-width:320px) {
	 body {
        background-color:lightblue;
    }
       ul{list-style: none; margin-left: 8vw; }
ul.a{list-style: none; margin-left: 0vw; }
ul li{float: left; margin-left:4.4vw; font-size: 3.2vw; }
ul li.1{float: left; margin-left: -3vw; font-size: 0.1vw; }
ul li a:hover{text-decoration: none; }
ul li a:active{text-decoration: underline solid ; }

.title_bar{background-color: #fff;height:4.5vw;}
.main_search_box{background-color: #524743;height:34vw;}
.search_box{margin-left:7vw; margin-top: 12vw; background-color:transparent;}

.subject_button{height:7.3vw; width:21vw;font-size: 2.9vw;text-align:left;padding-bottom: 4.8vw;}
     .search{min-height:7.8vw;width:42vw;font-size: 2.4vw;margin-left: -0.9vw;margin-bottom: -0.5vw;}
    .search_button{height:8.1vw; width:5vw;font-size: 3vw; text-align: center;margin-left: -1.0vw;margin-bottom: -0.1vw;padding-right: 7vw;}


.col-m-main{background-color:#fff; height:187vw;}
.main1{background-color:transparent; height:140vw;}
.main2{background-color:transparent; height:50vw;}
.col-m-link{background-color: #fff;height:6.0vw; }
.level{font-size: 3.1vw;}
.glyphicon-chevron-down{font-size: 3.0vw;}

.col-practice-subject1{background-color: #DDDDDD;height: 20vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 2vw; border-left:solid #AD5B5D 1.7vw;text-align: center;}

.test_button1{height:6.6vw; width:14vw;font-size: 2.7vw;text-align:left;margin-left: 1vw;margin-top: 12vw;}
.learn_button1{height:6.6vw; width:14vw;font-size: 2.7vw;text-align:left;margin-left: -41vw;margin-top: 12vw;}
.practice_button1{height:6.6vw; width:16vw;font-size: 2.7vw;text-align:left;margin-left: 0.5vw;margin-top: 12vw;}

.subject_row{margin-top: 5vw;}
.circle_box1{background-color: transparent; height: 4vw;}
.circle_box2{background-color: transparent; height: 4vw; margin-left:1vw; }
.circle_box3{background-color: transparent; height: 4vw; margin-left:1vw;}
.circle1{width: 4vw;height: 4vw; background-color:#AE5F5C; border-radius:50%;margin-top:0.3vw; }
.circle2{width: 4vw;height: 4vw; background-color:#3FBEEC; border-radius:50%;margin-top:0.3vw; }
.circle3{width: 4vw;height: 4vw; background-color:#F8D690; border-radius:50%;margin-top:0.3vw; }
.subject_name{background-color: transparent; margin-left: -3.9vw; font-size: 5.0vw;}

.about_test{font-size: 4.3vw;}
.livetest_button{height:9.5vw;border-radius: 0.2vw;border:solid 0.2vw  green; width:38.6vw;font-size: 4.6vw; text-align: center;}

.footer{background-color: #3A3F44;height: 270vw;}
.footer1{background-color: transparent; margin-top: 3vw;height: 12vw; color: #fff;}
.footer2{background-color: transparent; margin-top: 20vw;height: 15vw; color: #fff;}
.footer3{background-color: transparent; margin-top: 17vw;height: 27vw; color: #fff;}
.footer4{background-color: transparent; margin-top: 58vw;height: 27vw; color: #fff;}
.footer5{background-color: transparent; margin-top: 59vw;height: 25vw; color: #fff;}
.footer6{background-color: transparent; margin-top: 28vw;height: 25vw; color: #fff;}
.footer_link{color:#fff;}

.footer7{background-color: transparent; margin-top: 40vw;height: 25vw; color: #fff;}
.footer8{background-color: transparent; margin-top: 0vw;height: 35vw; color: #fff;}
.footer8_row{margin-top: 5vw; color: #fff;}
.circle_box4{background-color: transparent; height: 4vw;}
.circle_box5{background-color: transparent; height: 4vw; margin-left:6vw; }
.circle_box6{background-color: transparent; height: 4vw; margin-left:0vw;}
.circle4{width: 4vw;height: 4vw; background-color:#fff; border-radius:50%;margin-top:0.3vw; }
.footer_link1{color:#fff;}
.term_name1{background-color: transparent; margin-left: -4vw; font-size: 5.0vw;}
.term_name2{background-color: transparent; margin-left: -4vw; font-size: 5.0vw;}
.term_name3{background-color: transparent; margin-left: -7vw; font-size: 5.0vw;}
} 








@media only screen and (min-width:321px) and (max-width:520px) {
	 body {
        background-color:lightblue;
    }
       ul{list-style: none; margin-left: 8vw; }
ul.a{list-style: none; margin-left: 0vw; }
ul li{float: left; margin-left:4.4vw; font-size: 4.2vw; }
ul li.1{float: left; margin-left: -3vw; font-size: 0.1vw; }
ul li a:hover{text-decoration: none; }
ul li a:active{text-decoration: underline solid ; }

.title_bar{background-color: #fff;height:4.5vw;}
.main_search_box{background-color: #524743;height:34vw;}
.search_box{margin-left:7vw; margin-top: 12vw; background-color:transparent;}

.subject_button{height:7.2vw; width:21vw;font-size: 2.9vw;text-align:left;padding-bottom: 5vw;}
     .search{min-height:7.3vw;width:46vw;font-size: 2.4vw;margin-left: -0.9vw;margin-bottom: -0.1vw;}
    .search_button{height:7.3vw; width:5vw;font-size: 3vw; text-align: center;margin-left: -1.0vw;padding-right: 7vw;}


.col-m-main{background-color:#fff; height:132vw;}
.main1{background-color:transparent; height:80vw;}
.main2{background-color:transparent; height:50vw;}
.col-m-link{background-color: #fff;height:9.0vw; }
.level{font-size: 3.1vw;}
.glyphicon-chevron-down{font-size: 3.0vw;}

.col-practice-subject1{background-color: #DDDDDD;font-size:4vw;height: 10vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 2vw; border-left:solid #AD5B5D  1.7vw;}
.col-practice-subject2{background-color: black;font-size:4vw;height: 10vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 2vw; border-left:solid #F8D690  1.7vw;}
.col-practice-subject3{background-color: black;font-size:4vw;height: 10vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 2vw; border-left:solid #AE5F5C  1.7vw;}

.test_button1{height:6.6vw; width:12vw;font-size: 2.5vw;text-align:left;margin-left: 0.5vw;margin-top: 1.7vw;}
.learn_button1{height:6.6vw; width:12vw;font-size: 2.5vw;text-align:left;margin-left: 2vw;margin-top: 1.7vw;}
.practice_button1{height:6.6vw; width:14vw;font-size: 2.5vw;text-align:left;margin-left: 0.5vw;margin-top: 1.7vw;}

.subject_row{margin-top: 5vw;}
.circle_box1{background-color: transparent; height: 4vw;}
.circle_box2{background-color: transparent; height: 4vw; margin-left:1vw; }
.circle_box3{background-color: transparent; height: 4vw; margin-left:1vw;}
.circle1{width: 4vw;height: 4vw; background-color:#AE5F5C; border-radius:50%;margin-top:0.3vw; }
.circle2{width: 4vw;height: 4vw; background-color:#3FBEEC; border-radius:50%;margin-top:0.3vw; }
.circle3{width: 4vw;height: 4vw; background-color:#F8D690; border-radius:50%;margin-top:0.3vw; }
.subject_name{background-color: transparent; margin-left: -3.9vw; font-size: 5.0vw;}

.about_test{font-size: 4.3vw;}
.livetest_button{height:9.5vw;border-radius: 0.2vw;border:solid 0.2vw  green; width:38.6vw;font-size: 4.6vw; text-align: center;}

.footer{background-color: #3A3F44;height: 180vw;}
.footer1{background-color: transparent; margin-top: 3vw;height: 12vw; color: #fff;}
.footer2{background-color: transparent; margin-top: 4vw;height: 15vw; color: #fff;}
.footer3{background-color: transparent; margin-top: 8vw;height: 27vw; color: #fff;}
.footer4{background-color: transparent; margin-top: 20vw;height: 27vw; color: #fff;}
.footer5{background-color: transparent; margin-top: 20vw;height: 25vw; color: #fff;}
.footer6{background-color: transparent; margin-top: 20vw;height: 25vw; color: #fff;}
.footer_link{color:#fff;}

.footer7{background-color: transparent; margin-top: 22vw;height: 20vw; color: #fff;}
.footer8{background-color: transparent; margin-top: -1.50vw;height: 30vw; color: #fff;font-size: 3vw;}
.footer8_row{margin-top: 0vw; color: #fff;font-size:1.2vw; }
.circle_box4{background-color: transparent; height: 4vw;}
.circle_box5{background-color: transparent; height: 4vw; margin-left:0vw; }
.circle_box6{background-color: transparent; height: 4vw; margin-left:-20vw;}
.circle4{width: 4vw;height: 4vw; background-color:#fff; border-radius:50%;margin-top:0.3vw; }
.footer_link1{color:#fff;font-size: 1.2vw;}
.term_name1{background-color: transparent; margin-left: -7vw; font-size: 3vw;}
.term_name2{background-color: transparent; margin-left: -11vw; font-size: 2.6vw;}
.term_name3{background-color: transparent; margin-left: 65vw; margin-top: -5vw;font-size: 2.6vw;}

} 







@media only screen and (min-width:521px) and (max-width:780px) {
     body {
        background-color:lightblue;
    }
       ul{list-style: none; margin-left: 8vw; }
ul.a{list-style: none; margin-left: 0vw; }
ul li{float: left; margin-left:4.4vw; font-size: 4.2vw; }
ul li.1{float: left; margin-left: -3vw; font-size: 0.1vw; }
ul li a:hover{text-decoration: none; }
ul li a:active{text-decoration: underline solid ; }

.title_bar{background-color: #fff;height:4.5vw;}
.main_search_box{background-color: #524743;height:34vw;}
.search_box{margin-left:7vw; margin-top: 12vw; background-color:transparent;}

.subject_button{height:7.2vw; width:21vw;font-size: 2.9vw;text-align:left;padding-bottom: 5vw;}
     .search{min-height:7.3vw;width:46vw;font-size: 2.4vw;margin-left: -0.9vw;margin-bottom: -0.1vw;}
    .search_button{height:7.3vw; width:5vw;font-size: 3vw; text-align: center;margin-left: -1.0vw;padding-right: 7vw;}


.col-m-main{background-color:lavender; height:100vw;}
.main1{background-color:transparent; height:60vw;}
.main2{background-color:transparent; height:35vw;}
.col-m-link{background-color: #fff;height:9.0vw; }
.level{font-size: 3.1vw;}
.glyphicon-chevron-down{font-size: 3.0vw;}

.col-practice-subject1{background-color: black;font-size:2.8vw;height: 7vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 2vw; border-left:solid #AD5B5D 1.7vw;}
.col-practice-subject2{background-color: black;font-size:2.8vw;height: 7vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 2vw; border-left:solid #F8D690  1.7vw;}
.col-practice-subject3{background-color: black;font-size:2.8vw;height: 7vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 2vw; border-left:solid #AE5F5C  1.7vw;}

.test_button1{height:5.3vw; width:10vw;font-size: 2.2vw;text-align:left;margin-left: 0.5vw;margin-top: 0.7vw;}
.learn_button1{height:5.3vw; width:10vw;font-size: 2.2vw;text-align:left;margin-left: 26vw;margin-top: 0.7vw;}
.practice_button1{height:5.3vw; width:12vw;font-size: 2.2vw;text-align:left;margin-left: 0.5vw;margin-top: 0.7vw;}

.subject_row{margin-top: 3vw;}
.circle_box1{background-color: transparent; height: 4vw;}
.circle_box2{background-color: transparent; height: 4vw; margin-left:1vw; }
.circle_box3{background-color: transparent; height: 4vw; margin-left:1vw;}
.circle1{width: 2vw;height: 2vw; background-color:#AE5F5C; border-radius:50%;margin-top:0.3vw; }
.circle2{width: 2vw;height: 2vw; background-color:#3FBEEC; border-radius:50%;margin-top:0.3vw; }
.circle3{width: 2vw;height: 2vw; background-color:#F8D690; border-radius:50%;margin-top:0.3vw; }
.subject_name{background-color: transparent; margin-left: -3.9vw; font-size: 3.0vw;}

.about_test{font-size: 3.3vw;}
.livetest_button{height:5.5vw;border-radius: 0.2vw;border:solid 0.2vw  green; width:26.6vw;font-size: 3.0vw; text-align: center;}

.footer{background-color: #3A3F44;height: 68vw;}
.footer1{background-color: transparent; margin-top: 3vw;height: 12vw; color: #fff;}
.footer2{background-color: transparent; margin-top: 2vw;height: 10vw; color: #fff;}
.footer3{background-color: transparent; margin-top: 0vw;height: 20vw;margin-left:0vw;  color: #fff;}
.footer4{background-color: transparent; margin-top: -20vw;margin-left: 55vw;height: 20vw; color: #fff;}
.footer5{background-color: transparent; margin-top: -20vw;margin-left: 70vw;height: 25vw; color: #fff;}
.footer6{background-color: transparent; margin-top: 20vw;height: 25vw; color: #fff;}
.footer_link{color:#fff;}

.footer7{background-color: transparent; margin-top: 5vw;height: 10vw; color: #fff;}
.footer8{background-color: transparent; margin-top: -1.50vw;height: 10vw; color: #fff;font-size: 3vw;}
.footer8_row{margin-top: 0vw; color: #fff;font-size:1.2vw; }
.circle_box4{background-color: transparent; height: 4vw;}
.circle_box5{background-color: transparent; height: 4vw; margin-left:-2vw; }
.circle_box6{background-color: transparent; height: 4vw; margin-left:-20vw;}
.circle4{width: 2vw;height: 2vw; background-color:#fff; border-radius:50%;margin-top:0.3vw; }
.footer_link1{color:#fff;font-size: 1.2vw;}
.term_name1{background-color: transparent; margin-left: -8vw; font-size: 2.6vw;}
.term_name2{background-color: transparent; margin-left: -8vw; font-size: 2.6vw;}
.term_name3{background-color: transparent; margin-left: 65vw; margin-top: -6vw;font-size: 2.6vw;}
} 







@media only screen and (min-width:779px) and (max-width:999px) {
     body {
        background-color:lightblue;
    }
       ul{list-style: none; margin-left: 8vw; }
ul.a{list-style: none; margin-left: 0vw; }
ul li{float: left; margin-left:8.4vw; font-size: 2.2vw; }
ul li.1{float: left; margin-left: -3vw; font-size: 0.1vw; }
ul li a:hover{text-decoration: none; }
ul li a:active{text-decoration: underline solid ; }

.title_bar{background-color: #fff;height:3.5vw;}
.main_search_box{background-color: #524743;height:24vw;}
.search_box{margin-left:18vw; margin-top: 7vw; background-color:transparent;}

.subject_button{height:3.3vw; width:14vw;font-size: 1.9vw;text-align:left;padding-bottom: 0vw;}
     .search{min-height:3.3vw;width:30vw;font-size: 1.4vw;margin-left: -0.9vw;margin-bottom: 0vw;}
    .search_button{height:3.3vw; width:4vw;font-size: 2vw; text-align: center;margin-left: -1.0vw;padding-right: 0vw;}


.col-m-main{background-color:#fff; height:40vw;}
.main1{background-color:transparent; height:30vw; margin-top: 5vw;margin-left: 5vw;}
.main2{background-color:transparent; height:30vw;margin-top: 5vw;}
.col-m-link{background-color: #fff;height:4.0vw; }
.level{font-size: 1.5vw;}
.glyphicon-chevron-down{font-size: 1.3vw;}

.col-practice-subject1{background-color: #DDDDDD;font-size:1.4vw;height: 3.4vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 0.7vw; border-left:solid #AD5B5D  0.7vw;}
.col-practice-subject2{background-color: black;font-size:1.4vw;height: 3.4vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 0.7vw; border-left:solid #F8D690  .7vw;}
.col-practice-subject3{background-color: black;font-size:1.4vw;height: 3.4vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 0.7vw; border-left:solid #AE5F5C .7vw;}

.test_button1{height:2.6vw; width:6vw;font-size: 1.2vw;text-align:left;margin-left: 0.5vw;margin-top: 0.4vw;}
.learn_button1{height:2.6vw; width:6vw;font-size: 1.2vw;text-align:left;margin-left: 11vw;margin-top: 0.4vw;}
.practice_button1{height:2.6vw; width:7vw;font-size: 1.2vw;text-align:left;margin-left: 0.5vw;margin-top: 0.4vw;}

.subject_row{margin-top: 2vw;}
.circle_box1{background-color: transparent; height: 2vw; }
.circle_box2{background-color: transparent; height: 2vw; margin-left:0vw; }
.circle_box3{background-color: transparent; height: 2vw; margin-left:0vw;}
.circle1{width: 1vw;height: 1vw; background-color:#AE5F5C; border-radius:50%;margin-top:0.3vw; }
.circle2{width: 1vw;height: 1vw; background-color:#3FBEEC; border-radius:50%;margin-top:0.3vw; }
.circle3{width: 1vw;height: 1vw; background-color:#F8D690; border-radius:50%;margin-top:0.3vw; }
.subject_name{background-color: transparent; margin-left: -1vw; font-size: 1.2vw;}

.about_test{font-size: 1.3vw;}
.livetest_button{height:3.5vw;border-radius: 0.2vw;border:solid 0.2vw  green; width:14.6vw;font-size: 1.6vw; text-align: center;margin-top:1.8vw; }

.footer{background-color: black;height: 39vw;}
.footer1{background-color: transparent; margin-top: 0vw;height: 12vw; color: #fff;}
.footer2{background-color: transparent; margin-left:-50vw;margin-top: 5vw;height: 15vw; color: #fff;}
.footer3{background-color: transparent; margin-top: 5vw;margin-left:-20vw;height: 27vw; color: #fff;}
.footer4{background-color: transparent; margin-top: 5vw;margin-left:-10vw;height: 27vw; color: #fff;}
.footer5{background-color: transparent; margin-top: 5vw;margin-left:-10vw;height: 25vw; color: #fff;}

.footer_link{color:#fff;}

.footer7{background-color: transparent; margin-top: -7vw;height: 10vw; color: #fff;}
.footer8{background-color: transparent; margin-top: -7vw;height: 7vw; color: #fff;font-size: 0.5vw;}
.footer8_row{margin-top: 0vw; color: #fff;}
.circle_box4{background-color: transparent; height: 1vw;margin-left:5vw; margin-top:4vw;}
.circle_box5{background-color: transparent; height: 1vw; margin-left:-18vw;margin-top:4vw; }
.circle_box6{background-color: transparent; height: 1vw; margin-left:40vw;margin-top:-3vw; }
.circle4{width: 1vw;height: 1vw; background-color:#fff; border-radius:50%;margin-top:0.3vw; }
.footer_link1{color:#fff;font-size: 0.5vw;}
.term_name1{background-color: transparent; margin-left: -30vw;margin-top:4vw;  font-size: 1.7vw;}
.term_name2{background-color: transparent; margin-left: 25vw;margin-top:-4vw;  font-size: 1.7vw;}
.term_name3{background-color: transparent; margin-left:43vw;margin-top:-3vw;  font-size: 1.7vw;}
} 









@media only screen and (min-width:1000px) {
	 body {
        background-color:lightblue;
    }
       ul{list-style: none; margin-left: 22vw; }
ul.a{list-style: none; margin-left: 0vw; }
ul li{float: left; margin-left:3.4vw; font-size: 1.7vw; }
ul li.1{float: left; margin-left: -3vw; font-size: 0.1vw; }
ul li a:hover{text-decoration: none; }
ul li a:active{text-decoration: underline solid ; }

.title_bar{background-color: #fff;height:3.5vw;}
.main_search_box{background-color: #524743;height:24vw;}
.search_box{margin-left:22vw; margin-top: 9vw; background-color:transparent;}

.subject_button{height:3.0vw; width:12vw;font-size: 1.3vw;text-align:left;padding-bottom: 0vw;}
     .search{min-height:3.0vw;width:30vw;font-size: 1.2vw;margin-left: -0.9vw;margin-bottom: 0vw;padding-left:1vw; }
    .search_button{background-color: #E6E6E6;color:black;  height:3.0vw; width:4vw;font-size: 1.3vw; text-align: center;margin-left: -0.2vw;padding-top:0.6vw;padding-left: -1.4vw;border-top-left-radius:0vw;border-bottom-left-radius:0vw;}


.col-m-main{background-color:#fff; height:40vw;}
.main1{background-color:transparent; height:30vw; margin-top: 5vw;margin-left: 5vw;}
.main2{background-color:transparent; height:30vw;margin-top: 5vw;}
.col-m-link{background-color: #fff;height:4.0vw; }
.level{font-size: 1.5vw;}
.glyphicon-chevron-down{font-size: 1.3vw;}

.col-practice-subject1{background-color: #DDDDDD;padding:.5vw;font-size:1.4vw;height: 3.4vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 0.5vw; border-left:solid #E84C3D  0.5vw;}
.col-practice-subject2{background-color: black;font-size:1.4vw;height: 3.4vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 0.5vw; border-left:solid #E84C3D .5vw;}
.col-practice-subject3{background-color: black;font-size:1.4vw;height: 3.4vw;margin-top:1vw; margin-left: 3.8vw; border-radius: 0.5vw; border-left:solid #E84C3D .5vw;}

.test_button1{height:2.4vw; width:6vw;font-size: 1.2vw;text-align:left;margin-left: 0.5vw;margin-top: 0vw;}
.learn_button1{height:2.4vw; width:6vw;font-size: 1.2vw;text-align:left;margin-left: 22vw;margin-top: 0vw;}
.practice_button1{height:2.4vw; width:6vw;font-size: 1.2vw;text-align:left;margin-left: 0.5vw;margin-top: 0vw;}

.subject_row{margin-top: 2vw;}
.circle_box1{background-color: transparent; height: 2vw; }
.circle_box2{background-color: transparent; height: 2vw; margin-left:0vw; }
.circle_box3{background-color: transparent; height: 2vw; margin-left:0vw;}
.circle1{width: 1vw;height: 1vw; background-color:#AE5F5C; border-radius:50%;margin-top:0.3vw; }
.circle2{width: 1vw;height: 1vw; background-color:#3FBEEC; border-radius:50%;margin-top:0.3vw; }
.circle3{width: 1vw;height: 1vw; background-color:#F8D690; border-radius:50%;margin-top:0.3vw; }
.subject_name{background-color: transparent; margin-left: -1vw; font-size: 1.2vw;}

.about_test{font-size: 1.3vw;}
.livetest_button{height:3.5vw;border-radius: 0.2vw;border:solid 0.2vw  green; width:14.6vw;font-size: 1.6vw; text-align: center;margin-top:1.8vw; }

.footer{background-color: #3A3F44;height: 28vw;}
.footer1{background-color: transparent; margin-top: 0vw;height: 12vw; color: #fff;margin-left:15vw; }
.footer2{background-color: transparent; margin-left:-50vw;margin-top: 5vw;height: 15vw; color: #fff;}
.footer3{background-color: transparent; margin-top: 5vw;margin-left:-20vw;height: 22vw; color: #fff;}
.footer4{background-color: transparent; margin-top: 5vw;margin-left:-10vw;height: 22vw; color: #fff;}
.footer5{background-color: transparent; margin-top: 5vw;margin-left:-10vw;height: 22vw; color: #fff;}

.footer_link{color:#fff;}

.footer7{background-color: transparent; margin-top: -9vw;margin-left: 15vw;height: 3vw; color: #fff;}
.footer8{background-color: transparent; margin-top: -8vw;margin-left:32vw;height: 3vw; color: #fff;font-size: 0.5vw;}
.footer8_row{margin-top: 0vw; color: #fff;}
.circle_box4{background-color: transparent; height: 1vw;margin-left:2vw; }
.circle_box5{background-color: transparent; height: 1vw; margin-left:-12vw; }
.circle_box6{background-color: transparent; height: 1vw; margin-left:-7vw;}
.circle4{width: 1vw;height: 1vw; background-color:#fff; border-radius:50%;margin-top:0.3vw; }
.footer_link1{color:#fff;font-size: 0.5vw;}
.term_name1{background-color: transparent; margin-left: -2vw; font-size: 1.2vw;}
.term_name2{background-color: transparent; margin-left: -9vw; font-size: 1.2vw;}
.term_name3{background-color: transparent; margin-left: -4vw; font-size: 1.2vw;}
} 