*{
 box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/*************************************
General classes
*************************************/

.title-left{
	text-align: left;
}
 html,body{
width:100%;
height:100%;
}

#fullintro{
padding: 10%;
width:100%;
height:auto;
background-image:url("../img/sports2.jpg");
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
display: flex;
justify-content: flex-end;
}
#containerforintro{
width:60%;
height:100%;
display: flex;
align-items: flex-end;
}
#infogoeshere{
height:80%;
}
p1{
font-size: 8vh;
color: white;
}
p2{
font-size: 3vh;
color: white;
}
p3{
font-size: 4vh;
color: white;
}
#harness_section{
width: 100%;

background-color: #f8f8f8;
background-size: cover;
padding: 10% 0 ;
z-index: 2;
position: relative;

}
@media only screen
and (max-width : 480px) {
	#harness_section{
		padding: 25% 0;
	}
}

.title h2{
font-size: 28px;
padding: 0 0 6% 0;
margin: 0 0 9% 0;
color: #444;
position: relative;
display: block;
font-weight: lighter;
}
@media only screen
and (max-width : 767px) {
	.title h2{
		padding: 0 0 4% 0;
		margin: 0 0 6% 0;
	}
}
.title h2 :after{
content: "";
display: block;
position: absolute;
height: 2px;
width: 80px;
background-color: #00aeff;
bottom: 0;
}
.harness_para{
font-size: 16px;
color: #777;
text-align: justify;
}
.screen-couple-left{
position: relative;
overflow: hidden;
max-width: 380px;
min-width: 280px;
z-index: 100;
}
@media only screen and (max-width: 479px) {
	.screen-couple-left{
   		max-width: 290px;
	}
}
.screen-couple-right, .screen-couple-left:after{
content: "";
display: block;
clear: both;
}
.screen-couple-right, .screen-couple-left .above{
z-index: 3;
}
.screen-couple-left .screen{
position: relative;
float: left;
}
.screen-couple-left .beyond{
	right: 0;
}
.screen-couple-right .beyond, .screen-couple-left .beyond {
    z-index: 1;
    position: absolute;
    top: 40px;
}
@media only screen and (max-width: 767px) {
	.screen-couple-right, .screen-couple-left{
    	margin: 50px auto 0 auto;
	}
}


#section3{
width:100%;
padding:120px 0;
background-color: white;
position:relative;
overflow: hidden;
}
#features .title h2{
    display: block;
    position: relative;
    padding: 0 0 40px 0;
    margin: 0 0 60px 0;
    text-transform: uppercase;
    color: #444;
    font-weight: lighter;
    line-height: 1.2;
    font-size: 39px;
}
#features .title h2:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #00aeff;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}
#features .title p{
        display: block;
    margin: -20px 0 80px 0
}
.container{
position: relative;
    z-index: 1;
}
#builder-column-5476c138c37a7 ul{
margin: 0;
    padding: 0px;
    list-style: none;
}
.animation-box{
display: inline-block;
    position: relative;
}
.animation-box .screen {
    max-width: 100%;
    height: auto;
}
#builder-column-5476c13d52bfb ul{
    margin: 0;
    padding: 0px;
    list-style: none;
}
#section4{
width:100%;
height:100%;
background-color: blueviolet;
}
#section5{
width:100%;
height:100%;
background-color: aquamarine;
}

#friends_section{
width: 100%;

background-color: #f8f8f8;
background-size: cover;
padding: 10% 0 ;
z-index: 2;
position: relative;

}
@media only screen
and (max-width : 480px) {
  #friends_section{
    padding: 25% 0;
  }
}
#delivery_section{
width: 100%;
background-size: cover;
padding: 10% 0 ;
z-index: 2;
position: relative;

}
@media only screen
and (max-width : 480px) {
  #delivery_section{
    padding: 25% 0;
  }
}
#section8{
width:100%;
height:100%;
background-color: blueviolet;
}







@media screen and (max-width: 436px) {
#fullintro{
padding:20%;
justify-content: center;
text-align: center;
}
#containerforintro{
justify-content: center;
width:80%;
}
p1{
font-size: 5vh;
color: white;
}
p2{
font-size: 2.3vh;
color: white;
}
p3{
font-size: 3vh;
color: white;
}
}




.box-style{
  height:auto;
  padding-top:3%;
  padding-bottom: 3%;
}
.icon-work-1{
  height: 100px;
  width: 100%;
  background-image: url("../img/user.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-work-2{
  height: 100px;
  width: 100%;
  background-image: url("../img/log.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-work-3{
  height: 100px;
  width: 100%;
  background-image: url("../img/code.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-work-4{
  height: 100px;
  width: 100%;
  background-image: url("../img/chart.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-work-5{
  height: 100px;
  width: 100%;
  background-image: url("../img/thunder.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
div h3{
  font-weight: 300;
}
