body{
	background-color:  #EBEFF2 !important;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.top-margin{
	margin-top : 50px;
}

.footer{
   /*height: 330px !important;*/
	background-color: #283337;
	color: #EEE7E7;
	bottom : 0px !important;
	margin-top: 30px !important;
	padding-top: 20px !important;
}
div {
    display: block;
}
p {
	line-height: 15px;
	font-size: 12px;
	margin-bottom: 5px;
}

.border{
	border-bottom : 2px solid #555555 !important;
}

.nav .active{
	border-bottom : 4px solid #D29818 !important;
	color : #000000 !important;
}

.nav-pills>li.active>a{
	color : #000000 !important;
}

.tab{
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 25px !important;
	margin-right: 25px;
}

.tabs{
	background-color: #FFFFFF !important;
}

.tab a{
	background-color: #FFFFFF !important;
	color : #000000 !important;
}

.icons{
	margin-bottom: 20px !important;
}

.icon {
    border: 2px solid #555555 !important;
    border-radius: 85px !important;
    margin-right: 10px !important;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
.icon1 {
	border: 2px solid #555555 !important;
	border-radius: 100px !important;
	margin-right: 10px !important;
	height: 50px;
	font-size: 25px;
	text-align: center;
}


.socicon{
    position: relative;
    top: 5px;
    right: 7px;
}

.socicon1{
    position: relative;
    top: 9px;
    right: 5px;
}

.gicons{
	font-size: 20px !important;
}

.top-search{
	border: none;
    background: inherit;
    border-bottom: 2px solid #555555;
    border-radius: 0px;
    box-shadow: none;
}

.top-search:focus{
	box-shadow: none !important;
}

.login{
	background-color: inherit;
	border : 2px solid #555555;
	font-weight: 600;
}

.login:hover{
	background-color : #555555;
	color : #EBEFF2;
	border : 2px solid #555555;
}

.adds{
	margin-top: 20px;
}

.xx{
	display: inline-block;
	margin-right: 10px;
}